ul.css-menu-3 {
    list-style: none;
    border-bottom: 5px solid #bb0000;
    border-top: 1px solid #114477;
    padding: 11px;
    background: #336699
}

ul.css-menu-3 li {
    display: inline
}

ul.css-menu-3 li a {
    color: #fefefe;
    text-decoration: none;
    background: #225588;
    border: 1px solid #225588;
    border-bottom: 1px solid #114477;
    margin: 0;
    padding: 10px 14px 10px 14px
}

ul.css-menu-3 li a:hover {border-left: 1px solid #114477; border-right: 1px solid #114477}

ul.css-menu-3 li a.selected {
    color: #fefefe;
    background: #bb0000;
    border: 1px #cc0000 solid;
    border-bottom: 1px solid #bb0000;
    border-left: 1px solid #770000;
    padding: 10px 14px 10px 14px
}
